<!DOCTYPE html>
<html>
  <head>
    <title>Tweetski</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.username %>
    <% end %>
    <%= yield %>

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src = "scripts/interface.js"></script>
</body>
</html>
