<!DOCTYPE html>
<html>
<head>
  <script src="javascript/tweetski.js"></script>
</head>
<body>


<%= yield %>

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src = "scripts/interface.js"
</body>
</html>
